[user]
	name = toshinori
	email = toshinori@imaizumi.jp
[color]
  ui = true
  diff = true
[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
